<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Dog</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <form class ="container" action="/getImage">
        <input type="submit" id="btn" value="Click for New Dog">
        <h1>Random Dog Picture Generator</h1>
        <img src="<%= image %>" alt="dog" id="pic">
    </form>


</body>
</html>