body {
    margin:0}  

.navbar {
    background-color:aqua;
    position:fixed;
    top:0;
    width:100%;
    overflow: hidden;
}

.navbar a {
    float: left;
    display:block;
    color:black;
    text-align:center;
    padding:15px;

}

p {
    font-size: 50px;
}